<a href="https://colab.research.google.com/github/umeshsood/cooginitve_computing/blob/main/Assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
L=[10,20,30,40,50,60,70,80]
L.append(200)
L.append(300)
print(L)

L.remove(10)
L.remove(30)
print(L)

L.sort()
print(L)

L.sort(reverse=True)
print(L)

[10, 20, 30, 40, 50, 60, 70, 80, 200, 300]
[20, 40, 50, 60, 70, 80, 200, 300]
[20, 40, 50, 60, 70, 80, 200, 300]
[300, 200, 80, 70, 60, 50, 40, 20]

In [3]:
T=(45, 89.5, 76, 45.4, 89, 92, 58, 45)
MAX=max(T)
print(MAX)
print(T.index(MAX))

92
5

In [4]:

MIN=min(T)
print(MIN)
print(T.count(MIN))

45
2

In [5]:

t=T[::-1]
print(t)
print(list(T))

(45, 58, 92, 89, 45.4, 76, 89.5, 45)
[45, 89.5, 76, 45.4, 89, 92, 58, 45]

In [7]:
def searching(data):
    value = int(input("Enter any number: "))
    if value in data:
        return True
    else:
        return False
data=[45, 89.5, 76, 45.4, 89, 92, 58, 45]
if searching(data):
    print("Input is present")
else:
    print("Not found")

Enter any number: 89
Input is present

In [12]:
import random as r
random_numbers = [r.randint(100, 900) for _ in range(100)]
print(random_numbers)

[274, 585, 795, 500, 362, 585, 780, 514, 165, 206, 200, 760, 738, 422, 891, 827, 732, 782, 245, 191, 574, 135, 514, 292, 736, 163, 867, 271, 850, 333, 738, 584, 179, 708, 687, 797, 851, 635, 866, 282, 706, 685, 287, 869, 620, 510, 756, 463, 318, 684, 559, 512, 572, 304, 329, 248, 241, 510, 114, 346, 381, 896, 585, 367, 885, 189, 286, 123, 622, 218, 544, 538, 196, 353, 500, 297, 350, 861, 510, 852, 564, 103, 725, 369, 658, 828, 290, 539, 576, 118, 423, 759, 626, 376, 751, 661, 125, 484, 682, 511]

In [11]:
odd_numbers = [num for num in random_numbers if num % 2 != 0]
count_odd=len(odd_numbers)
print(odd_numbers)
print(count_odd)

[29, 13, 7, 35, 9, 15, 7, 67, 79, 27, 31, 37, 91, 67, 19, 3, 47, 31, 95, 21, 89, 99, 97, 45, 15, 93, 31, 61, 3, 13, 13, 9, 39, 49, 47, 49, 71, 9, 59, 3, 35, 63, 1, 69, 55, 91, 79, 35, 7, 33]
50

In [10]:
even_numbers = [num for num in random_numbers if num % 2 == 0]
count_even=len(even_numbers)
print(even_numbers)
print(count_even)

[96, 42, 92, 34, 70, 84, 60, 72, 4, 98, 86, 2, 60, 64, 24, 60, 8, 34, 22, 4, 36, 36, 100, 6, 4, 90, 64, 70, 38, 88, 66, 16, 74, 88, 4, 92, 42, 28, 48, 42, 58, 98, 94, 84, 14, 90, 34, 36, 12, 28]
50

In [9]:

import random

def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n ** 0.5) + 1):
        if n % i == 0:
            return False
    return True

random_numbers = [random.randint(1, 100) for _ in range(100)]
prime_numbers = [num for num in random_numbers if is_prime(num)]
count_primes = len(prime_numbers)

print("Random Numbers:", random_numbers)
print("Prime Numbers:", prime_numbers)
print("Count of Prime Numbers:", count_primes)

Random Numbers: [29, 13, 96, 7, 35, 9, 42, 15, 92, 7, 34, 70, 84, 67, 79, 60, 72, 4, 27, 31, 37, 98, 86, 91, 2, 67, 19, 60, 64, 24, 60, 8, 3, 47, 31, 34, 22, 95, 4, 36, 21, 36, 100, 6, 89, 4, 99, 97, 90, 45, 15, 64, 93, 31, 61, 3, 13, 70, 13, 9, 39, 49, 38, 47, 49, 88, 71, 9, 59, 66, 3, 16, 74, 88, 35, 4, 63, 92, 1, 69, 42, 55, 91, 28, 79, 48, 42, 58, 98, 94, 84, 14, 90, 34, 36, 35, 12, 7, 33, 28]
Prime Numbers: [29, 13, 7, 7, 67, 79, 31, 37, 2, 67, 19, 3, 47, 31, 89, 97, 31, 61, 3, 13, 13, 47, 71, 59, 3, 79, 7]
Count of Prime Numbers: 27

In [8]:
A={34,56,78,90}
B={74,45,90,23}
print(A|B)

{34, 74, 45, 78, 23, 56, 90}

In [13]:

print(A&B)

{90}

In [14]:
print(B-A)
print(A-B)
print(A-B|B-A)

{74, 45, 23}
{56, 34, 78}
{34, 23, 56, 74, 45, 78}

In [17]:

is_subset = A.issubset(B)
is_superset = B.issuperset(A)

print(f"Is A a subset of B? {is_subset}")
print(f"Is B a superset of A? {is_superset}")

Is A a subset of B? False
Is B a superset of A? False

In [16]:

def delete(A):
    value = int(input("Enter any number: "))
    if value in A:
        A.remove(value)
        print(A)
        return True
    else:
        return False
A={34,56,78,90}
if delete(A):
    print("Input is present")
else:
    print("Not found")

Enter any number: 78
{56, 34, 90}
Input is present

In [15]:

sample_dict={
    "name":"kelly",
    "age":25,
    "salary":8000,
    "city":"NEW YORK"
}
sample_dict["location"]=sample_dict.pop('city')
print(sample_dict)

{'name': 'kelly', 'age': 25, 'salary': 8000, 'location': 'NEW YORK'}